@model IEnumerable<PrestigeWorldwide.Models.Airport>

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">

    $(document).ready(function () {
        $("#AirportName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Airport/Search",
                    type: "GET",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ident)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Continent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISOCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISORegion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPSCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Municipality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serviced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IATACode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ident)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Continent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISOCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISORegion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPSCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Municipality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serviced)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IATACode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AirportId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AirportId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AirportId })
            </td>
        </tr>
    }

</table>
