@model PrestigeWorldwide.ViewModels.ItineraryIndexData

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<h3>Itinerary - @ViewBag.ItineraryName</h3>
<div>
    <p>
        @Html.ActionLink("Create New", "Create", new { controller = "ItineraryRoute", Model.Itinerary.Id})
    </p>
    <table class="table">
        <tr>
            <th>From Airport</th>
            <th>To Airport</th>
            <th>Distance</th>
            <th></th>
        </tr>
    
        @foreach (var item in Model.ItineraryRoutes)
        {
            <tr class="">
                <td>
                    @Html.DisplayFor(modelItem => item.From_Airport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To_Airport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distance)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { controller = "ItineraryRoute", item.Id }) |
                    @Html.ActionLink("Details", "Details", new { controller = "ItineraryRoute", item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { controller = "ItineraryRoute", item.Id })
                </td>
            </tr>
        }
    </table>

</div>